/*  your css code here. If applicable */
body{
	background-color: rgb(161,100,223);
}
.audio{
	width: 100vw;
	position: relative;
}
button{
	background-color: rgb(102,51,153);
	padding: 10px 20px;
	color:white;
	border-radius:5px;
	border:none;
	margin: 10px;
	position:relative;
	top: 40vh;
	left:2vw;
}
